body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}


.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* ====================
        header 
=====================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #505268;
    align-items: center;
}

/* ====================
        navigation 
=====================*/

.nav {
    text-transform: uppercase;
    display: flex;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.75;  
    margin-left: 60px;
    transition: 0.3s linear;
}

.nav__link:hover {
    opacity: 1;
    font-size: 14px;
    transition: 0.2s;
}

/* ====================
        intro 
=====================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #31344e 
    url("../img/backgrounds/intro-bg.jpg") center no-repeat;
    padding-top: 100px;
    text-align: center;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 40px;
}

.intro__subtitle {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    margin-bottom: 80px;
}

/* ====================
        button
=====================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 50px;

    font-weight: 600;
    font-size: 13px;
    font-family: inherit;

    cursor: pointer;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    border-radius: 2px;
}

.btn--red {
    background-color: #e84545;
    transition: 0.3s linear;
}

.btn--red:hover {
    background-color: #d43c3c; 
    font-size: 12px;
    transition: 0.3s;
}   

/* ====================
        features
=====================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    margin-bottom: 40px;
}

.features__title {
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0;
    color: #2d3033;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.5;
    font-weight: 400;
    padding: 0px 40px;
}

/* ====================
        works
=====================*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: 1px solid #fff;
}

.works__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.works__content {   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(232, 69, 69, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .25s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works__text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.works__item:hover .works__content{
    opacity: 1;
}

/* ====================
        team
=====================*/

.team {
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 100%;
    max-width: 270px;
    margin: 100px 0;
}

.team__photo{
    margin-bottom: 30px;
}

.team__name {
    font-weight: 400;
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 5px;
}

.team__function {
    font-weight: 600;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 30px;    
}

.team__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;    
}

.team__contacts-icon{
    box-sizing: content-box;
    height: 20px;
    opacity: 0.5;
    border: 1px solid; 
    border-color: #000; 
    padding: 7px;
    transition: 0.2s linear;
}

.team__contacts-icon:hover{
    opacity: 1;
    height: 22px;
    transition: 0.2s;
}

/* ====================
        reviews
=====================*/

.reviews {
    background-color: #53354a;
    overflow: hidden;
}

.reviews__item{
    display: flex;
    height: 500px;

}

.reviews__image{
    width: 50%;     
    position: relative;
}

.reviews__photo{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__recall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0px 0px 0px 120px;
}

.reviews__text{
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    color:#fff;
    margin-bottom: 35px;
}

.reviews__name{
    font-size: 13px;
    color: #fff;
    font-weight: 700;   
    text-transform: uppercase;
}

/* ====================
        download
=====================*/

.download{
    text-align: center;
    margin: 100px 0px;
}

.download__text{
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;   
}

.download__subtext{
    font-size: 13px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;  
    margin-bottom: 40px;
}

/* ====================
        footer
=====================*/

.footer{
    background-color: #3a3e64;
}

.footer__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__section{
    width: 33.3333%;
    margin: 70px 0px;
    text-align: center;
}

.footer__section-name{
    color: #fff;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__section-text{
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400px;
}

.footer__contacts-icon{
    box-sizing: content-box;
    height: 20px;
    opacity: 0.5;
    border: 1px solid; 
    border-color: #fff; 
    padding: 7px;
    transition: 0.2s linear;
}

.footer__contacts-icon:hover{
    opacity: 1;
    height: 22px;
    transition: 0.2s;
}

/* ====================
  footer - copyright
=====================*/

.footer__copyright{
    text-align: center;
    background-color: #313454;
}

.footer__copyright-text{
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    padding: 20px 0;
    margin: 0;
}

.footer__copyright-text .author{
    color: #fff;
}

.footer__copyright-text .heart{
    color: #e84545;
    font-size: 18px;
}





